@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Source+Serif+4:wght@400;500;600;700&display=swap");

@import "./reset.less";
@import "./variables.less";

html,
body,
#root {
  min-height: 100%;
}

body {
  color: @color-text;
  background: @background-color;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

button,
input,
textarea,
select {
  font: inherit;
}
