@import "./variables.less";

:root {
  font-family: @font-main;
}

body {
  background: #ffffff;
  color: @color-text;
}

#root {
  min-height: 100vh;
}

button {
  font: inherit;
}

input {
  font: inherit;
}
